<div class="page-header">
    <h3>Ingrédients trouvés</h3>
</div>

{% if ingredients | length > 0 %}
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Commerce</th>
            <th>Prouits</th>
        </tr>
        </thead>
        <tbody>
        {% for ingredient in ingredients %}
            <tr>
                <td>{{ ingredient }}</td>
                <td>
                    <a href="{{ path('aclunch_commerce_show', { 'id': ingredient.commerce.id }) }}">
                        {{ ingredient.commerce.nom }}
                    </a>
                </td>
                <td>
                    {{ ingredient.produits | length }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}

    <p class="text-warning">Aucun ingrédient trouvé.</p>

{% endif %}