{% extends '@AcMarcheLunch/layout.html.twig' %}

{% block heading %}
    {{ categorie }}
{% endblock %}

{% block body %}
    <div class="blog">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <!-- The new post done by user's all in the post block -->
                    <div class="blog-post">
                        <!-- Entry is the one post for each user -->
                        <div class="entry">
                            <!-- Post Images -->
                            <div class="blog-img pull-left">
                                {% if categorie.imageName %}
                                    <img src="{{ vich_uploader_asset(categorie, 'imageFile') | imagine_filter('aclunch_categorie_thumb') }}"
                                         class="img-responsive img-thumbnail" alt=""/>
                                {% endif %}
                            </div>
                            <!-- Meta for this block
                            <div class="meta">
                                <i class="fa fa-calendar"></i>&nbsp; Jan 13, 2014
                                <span class="pull-right"><i class="fa fa-comment"></i> <a href="#">&nbsp;2 Comments</a></span>
                            </div>-->
                            <!-- Heading of the  post -->
                            <h3><a href="#">{{ categorie | upper }}</a></h3>
                            <hr/><!-- Horizontal line -->
                            <!-- Paragraph -->
                            <p>
                                Description ?
                            </p>
                            <div class="clearfix"></div>
                        </div>
                        {% include '@AcMarcheLunch/Categorie/produits.html.twig' with {'categorie': categorie} %}
                        <!-- Comment section -->
                    </div><!--/ Blog post class end -->
                    <!-- Comment posting -->

                    <!-- Navigation -->

                    <div class="clearfix"></div>
                </div> <!--/ Main blog column end -->
            </div><!--/ Row end -->
        </div>
    </div>

    <!-- Blog End -->
{% endblock %}
