<tr class="text-warning">
    <td colspan="4"><strong>Frais de transaction (Stripe)</strong></td>
    <td>
        <strong>
            <div id="ajax-results-frais-transaction">
                {{ commande.couts.fraisTransaction | number_format }} €
            </div>
        </strong>
    </td>
</tr>