<div class="media">
    <div class="media-left">
        <img class="media-object thumbnail"
             src="{{ vich_uploader_asset(commerce, 'imageFile') | imagine_filter('aclunch_admin_thumb') }}"
             alt="{{ commerce.nom }}"/>
    </div>
    <div class="media-body">
        {% include '@AcMarcheLunch/Admin/Commerce/bottin.html.twig' with {'commerce': commerce } %}
    </div>
</div>